@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://css.gg/instagram.css');
@import url('https://css.gg/facebook.css');
@import url('https://css.gg/twitter.css');


*{
    box-sizing: border-box;
}

body {
    background-color: white;
    color: white;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
#hope-text{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    text-align: left;
    padding: 0px 30px 0 30px;
}
.info-cards{
    background-image: url(images/oregon-landscape.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8%;
    padding: 12% 8% 14% 8%
}
.container:hover .card {
    cursor: pointer;
    transform: rotateY(180deg);
}
.container {
    perspective: 1000px;
    width: 290px;
    height: 290px;
}
.card {
    position: relative;
    transition: all 1s ease;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}
.card-front,
.card-back{
    height: 100%;
    width: 100%;
    background: black;
    border-radius: 25px;
    opacity: 0.7;
    position: absolute;
    backface-visibility: hidden;
}
.card img{
    box-sizing: border-box;
    width: 290px;
    height: 165px;
    margin-bottom: 30px;
}
.card-back{
    transform: rotateY(180deg);
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600; 
    font-size: 40pt;
    text-align: center;
    margin: 20px;
}
#card{
    font-size: 20pt;
    margin: 35% 8% 50% 8%;
}
#card2{
    font-size: 20pt;
    margin: 30% 8% 50% 8%;
}
.button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    background-color:#F57F29;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18pt;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; 
}

.slider{
    width: 1179px;
    height: 500px;
    overflow: hidden;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 1s;
  }
  
  .slide img{
    width: 1179px;
    height: 500px;
  }
  
  .navigation-manual{
    position: absolute;
    width: 1179px;
    margin-top: -40px;
    display: flex;
    justify-content: right;
    padding-right: 2%;
  }
  
  .manual-btn{
    border: 3px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 30px;
  }
  
  .manual-btn:hover{
    background: white;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 1179px;
    justify-content: right;
    padding-right: 2%;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 3px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 30px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: white;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: white;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: white;
  }

  #wrapper {
	position: absolute;
    margin: -2.5% 0% 0% 38%;
	animation:pulse 1s infinite;
}

#pulsingheart { 
  position: relative; 
  width: 90px; 
  height: 80px;
} 

#pulsingheart:before, #pulsingheart:after { 
  position: absolute; 
  content: ""; 
  left: 50px; 
  top: 0; 
  width: 50px; 
  height: 80px; 
  background: #aa0000; 
  border-radius: 50px 50px 0 0; 
  transform: rotate(-45deg);  
  transform-origin: 0 100%;
  animation:pulsecolor 1s infinite;
} 

#pulsingheart:after { 
  left: 0; 
  transform: rotate(45deg); 
  transform-origin :100% 100%;
  animation:pulsecolor 1s infinite;
}

@keyframes pulse {
	10% {transform: scale(1.1)}
}

@keyframes pulsecolor {
  10% {background: #dd0000}
}
.what-we-do div{
    padding: 2% 20% 2% 20%;
    margin: 0;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    color: black;
}
.nav-button{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    background-color:#F57F29;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    font-size: 15pt;
    margin: 20px 20px;
    cursor: pointer;
    border-radius: 25px;
    float: right;
}
.top-navbar img{
    float:left;
    height: 88px;
}
.top-navbar {
    overflow: hidden;
    background-color: #005677;
    position: fixed;
    top: 0;
    width: 100%;
}
.top-navbar a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 60px;
    text-decoration: none;
    font-size: 18pt;
}
.top-navbar a:hover{
    background: #32A64C;
    color: white;
}
.bottom-nav img{
    float:left;
    height: 88px;
}
.bottom-nav {
    overflow: hidden;
    background-color: #005677;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.bottom-nav a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 70px;
    text-decoration: none;
    font-size: 18pt;
}
.bottom-nav a:hover{
    background: #32A64C;
    color: white;
}
.left-text{
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    color: black;
}
h2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 40pt;
    padding-top:8%;
    padding-left: 9.5%;
    text-align: left;
}
#staff-title{
    padding-top:7%;
    padding-left: 3.5%;
}
#donate-title{
    padding-top:10%;
}
#home-title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 40pt;
    text-align: center;
    margin: 3% 8% 0% 0%;
    padding: 0;
}
#events-title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 40pt;
    text-align: center;
    padding: 0;
    margin: 0;
}
h3{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 15pt;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
}
h4{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 15pt;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: left;
}
.donation img {
    padding-top: 5%;
    padding-right: 5%;
    float: left;
}
.our-story img {
    padding-top: 3%;
    padding-right: 2%;
    padding-left: 5%;
    float: right;
}
.staff {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 3%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}
.staff div {
    box-sizing: border-box;
    color:black;
    width: 365px;
}
.staff div p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.staff img{
    border-radius: 25px;
    width: 365px;
    height: 365px;
}
.staff a {
    font-size: 10pt;
    padding-left: 80%;
    color: black;
}
.stories a {
    font-size: 10pt;
    padding-left: 60%;
    color: white;
}
.events-box {
    margin: 2% 12% 9% 12%;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}
.events-box div {
    box-sizing: border-box;
    color:black;
    width: 360px;
}
.events-box div p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.events-box img{
    width: 360px;
    height: 290px;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #97C0E6;
    width: 100vw;
    bottom: 0;
}

.left {
    padding-top: 35px;
    padding-left: 40px;
}
.center{
    display: inline-block;
    padding-top: 35px;
}
.right{
    padding: 25px 20px 25px 20px;
}

.right div {
    box-sizing: border-box;
    padding: 30px;
}
ul {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    display: inline-block;
    font-size:10pt;
    line-height: 25px;
    text-align: left;
    list-style-type: none;
    position: relative;
    right: 10%;
    bottom: 13px;
}

ul a{
    text-decoration: none;
    color: black;
}

ul a:hover{
    text-decoration:underline;
}


