@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://css.gg/instagram.css');
@import url('https://css.gg/facebook.css');
@import url('https://css.gg/twitter.css');

*{
    box-sizing: border-box;
}

body {
    background-color: white;
    color: white;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
#hope-text{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    text-align: left;
    padding: 0px 30px 0 30px;
}
main{
    background-image: url(images/oregon-landscape.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.home-info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 8%;
    padding: 12% 8% 5% 8%
}
.home-info div {
    box-sizing: border-box; 
    background: black;
    width: 290px;
    height: 290px;
    opacity: 0.7;
    border-radius: 25px;
    padding: 22px;
}
h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600; 
    font-size: 70pt;
    line-height: 15%;
    text-align: center;
}
h2 {
    font-family: 'Pacifico', cursive;
    font-size: 44pt;
    line-height: 65px;
    margin-top: 28%;
    padding-left: 30px;
    text-align: left;
}
h3{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: white;
    margin: auto;
    font-size: 15pt;
    padding-left: 30px;
    text-align: left;
}
.button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    background-color:#F57F29;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18pt;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; 
}
.hope-stories{
    display: flex;
    justify-content: center;
    padding-top: 6%;
}
.stories{
    display: inline-block;
    background-color: #32A64C;
    padding: 0;
    width: 380px;
    height: 500px;
}

.what-we-do div{
    padding: 0% 20% 0% 20%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    color: black;
}
.nav-button{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    background-color:#F57F29;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    font-size: 15pt;
    margin: 20px 20px;
    cursor: pointer;
    border-radius: 25px;
    float: right;
}
.top-navbar img{
    float:left;
    height: 88px;
}
.top-navbar {
    overflow: hidden;
    background-color: #005677;
    position: fixed;
    top: 0;
    width: 100%;
}
.top-navbar a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 60px;
    text-decoration: none;
    font-size: 18pt;
}
.top-navbar a:hover{
    background: #32A64C;
    color: white;
}
.bottom-nav img{
    float:left;
    height: 88px;
}
.bottom-nav {
    overflow: hidden;
    background-color: #005677;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.bottom-nav a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 70px;
    text-decoration: none;
    font-size: 18pt;
}
.bottom-nav a:hover{
    background: #32A64C;
    color: white;
}
.left-text{
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    color: black;
}
h4{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 40pt;
    padding-top:8%;
    padding-left: 9.5%;
    text-align: left;
}
#staff-title{
    padding-top:7%;
    padding-left: 3.5%;
}
#donate-title{
    padding-top:10%;
}
#home-title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 40pt;
    text-align: center;
    margin: 80px 0px 0px 0px;
    padding: 0;
}
h5{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 15pt;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
}
h6{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 15pt;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: left;
}
.donation img {
    padding-top: 5%;
    padding-right: 5%;
    float: left;
}
.our-story img {
    padding-top: 3%;
    padding-right: 2%;
    padding-left: 5%;
    float: right;
}
.staff {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 3%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}
.staff div {
    box-sizing: border-box;
    color:black;
    width: 365px;
}
.staff div p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.staff img{
    border-radius: 25px;
    width: 365px;
    height: 365px;
}
.staff a {
    font-size: 10pt;
    padding-left: 80%;
    color: black;
}
.stories a {
    font-size: 10pt;
    padding-left: 60%;
    color: white;
}

.events-box {
    margin: 2% 12% 9% 12%;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}
.events-box div {
    box-sizing: border-box;
    color:black;
    width: 360px;
}
.events-box div p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.events-box img{
    width: 360px;
    height: 290px;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #97C0E6;
    width: 100vw;
    bottom: 0;
}

.left {
    padding-top: 35px;
    padding-left: 40px;
}
.center{
    display: inline-block;
    padding-top: 35px;
}
.right{
    padding: 25px 20px 25px 20px;
}

.right div {
    box-sizing: border-box;
    padding: 30px;
}
ul {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    display: inline-block;
    font-size:10pt;
    line-height: 25px;
    text-align: left;
    list-style-type: none;
    position: relative;
    right: 10%;
    bottom: 13px;
}

ul a{
    text-decoration: none;
    color: black;
}

ul a:hover{
    text-decoration:underline;
}


