@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
@import url('https://css.gg/instagram.css');
@import url('https://css.gg/facebook.css');
@import url('https://css.gg/twitter.css');

body {
    background-color: white;
    color: white;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.home{
    background-image: url(images/oregon-landscape.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 8%;
    height: 50vh;
    margin-top:7%;
}
.home-info div {
    box-sizing: border-box; 
    background: black;
    width: 290px;
    height: 290px;
    opacity: 0.7;
    border-radius: 25px;
    padding: 22px;
}
h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600; 
    font-size: 70pt;
    line-height: 15%;
    text-align: center;
}
.button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    background-color:#F57F29;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18pt;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; 
}

.nav-button{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    background-color:#F57F29;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    font-size: 15pt;
    margin: 20px 30px;
    cursor: pointer;
    border-radius: 25px;
    float: right;
}
.top-navbar img{
    float:left;
    height: 88px;
}
.top-navbar {
    overflow: hidden;
    background-color: #005677;
    position: fixed;
    top: 0;
    width: 100%;
}
.top-navbar a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 60px;
    text-decoration: none;
    font-size: 18pt;
}
.top-navbar a:hover{
    background: #32A64C;
    color: white;
}
.bottom-navbar img{
    float:left;
    height: 88px;
}
.bottom-navbar {
    overflow: hidden;
    background-color: #005677;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.bottom-navbar a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 70px;
    text-decoration: none;
    font-size: 18pt;
}
.bottom-navbar a:hover{
    background: #32A64C;
    color: white;
}
.left-text{
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    color: black;
}
h2{
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 40pt;
    padding-top:10%;
}
.left-block img {
    padding-top: 5%;
    padding-right: 5%;
    float: left;
}
.right-block img {
    padding-top: 5%;
    padding-right: 2%;
    padding-left: 5%;
    float: right;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #97C0E6;
    width: 100vw;
    bottom: 0;
}

.left {
    padding-top: 35px;
    padding-left: 40px;
}
.center{
    display: inline-block;
    padding-top: 35px;
}
.right{
    padding: 25px 20px 25px 20px;
}

.right div {
    box-sizing: border-box;
    padding: 30px;
}
ul {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    display: inline-block;
    font-size:10pt;
    line-height: 25px;
    text-align: left;
    list-style-type: none;
    position: relative;
    right: 10%;
    bottom: 13px;
}

ul a{
    text-decoration: none;
    color: black;
}

ul a:hover{
    text-decoration:underline;
}


